<div class="container row">
           <h1>Hasta luego {{ title }}</h1>
</div>
<script type="text/javascript">
    setTimeout(function(){
        window.location.replace("./login")
    }, 2000);
</script>