<div class="contaneir">
        <div class="row d-flex justify-content-center">
           
                <div class="mb-3">
                  <h1>Bienvenido {{ title }}</h1>
                </div>
                <div>
                    <a href="/logout" class="btn btn-success ">Desloguear </a> 
                </div>
              
        </div>
</div>   
